.app.dark {
    --bg-color: #101069;
    --inverted-bg-color: #ccccf6;
    --primary-color: rgb(7 118 7);
    --secondary-color: rgb(9 198 9);
    --inverted-primary-color: #01218b;
    --inverted-secondary-color: #0449e0;
}
